Modules/GED/document.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="documents">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="document" minOccurs="0" maxOccurs="unbounded">
  				<xs:complexType>
            <xs:sequence>
              <xs:element name="nom" type="xs:string"/>
              <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:int"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
